@charset "UTF-8";

@media (max-width: 675px) {
  
    .menu {
    gap: 0;
    margin: 10px 0 0 auto;
  }

  .menu a {
    font-size: 12px;
    padding-right: 10px;
  }

  .logo img {
    width: 90px;
    padding-top: 6px;
  }

  header .botao {
    display: none;
  }

  .botao {
    margin-top: 20px;
  }

  .botao a {
    padding: 5px 10px;
    font-size: 12px;
    margin: auto;
  }

  .botao a:hover {
    padding: 4px 9px;
  }

  .hero_texto {
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
  }

  .hero_img {
    width: 100%;
    margin: auto;
  }

  p, h2 , h2 {
    margin: 6px;
    line-height: 1.5;
  }

  p {
    font-size: 13px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 12px;
  }

  .conteiner {
    padding: 5px;
  }

  .hero .conteiner {
    flex-direction: column;
  }

  .solucoes_texto h2 {
    font-size: 15px;
    margin: 4px;
  }

  .solucoes_texto p {
    font-size: 12px;
  }

  .solucoes .conteiner {
    flex-direction: column;
  }

  .card {
    width: 90%;
    margin-bottom: 10px;
  }

  .dados_conteiner, .sobre_nos .conteiner {
    flex-direction: column;
    width: 90%;
  }

  img {
    margin-bottom: 10px;
  }

  .sobre_nos_txt h2 {
    font-size: 18px;
  }

  .timeline {
    flex-direction: column;
  }

  .timeline .card {
    width: 85%;
  }

  .timeline .card p {
    font-size: 13px;
  }

  .timeline .card h2 {
    font-size: 16px;
    margin: 5px 0;
  }

  .timeline .card h3 {
    font-size: 13px;
  }

  .linha_timeline {
    top: 0px;

    left: 3%;

    width: 2px;
    height: 100%;
  }

  .ponto {
    top: 50%;
    left: -5%;
  }

  .dados_texto_sobre p {
    font-size: 15px;
  }

  .dados_conteiner {
    padding: 5px;
  }

  .servicos .conteiner {
    flex-direction: column;
  }

  .titulo_servico h2{
    font-size: 20px;
  }

  .titulo_servico img{
    width: 50px;
    margin: auto 10px auto 0;
  }

  .card_servico {
    width: 70%;
    margin: 10px auto;
    height: 440px;
  }

  .outros_contatos_conteudo {
    flex-direction: column;
  }

  .contato {
    width: 90%;
    margin-bottom: 10px;
  }

  .contato img {
    margin: 10px;
  }

  .cards_estrategias_conteiner {
    flex-direction: column;
  }

  .card_solucoes {
    width: 85%;
    margin: 0;
  }

  .seta i {
    display: none;
    height: 0;
  }

  .cards_tecnologias {
    width: 70%;
    height: 400px;
  }

  .motivos_cards {
    flex-direction: column;
    width: 80%;
  }

  .motivos_cards img {
    width: 40px;
    margin: 10px auto;
  }

  .motivos_conteiner .conteiner{
    flex-direction: column;
  }

  .textos_motivos {
    text-align: center;
  }
}