@charset "UTF-8";

:root {
    --fundo_principal: #050816;
    --fundo_secundario: #0B1120;
    --cards: #111827;
    --borda_cards: #1E293B;
    --cor_principal: #3B82F6;
    --houver: #60A5FA;
    --texto_principal: #F8FAFC;
    --texto_secundario: #94A3B8;
}

body {
    background-color: var(--fundo_principal);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    color: var(--texto_secundario);
    font-size: 18px;
    margin-bottom: 40px;
}

h3 {
    color: var(--cor_principal);
    font-size: 15px;
}

h2 {
    color: var(--texto_principal);
    font-size: 40px;
}

header {
    background-color: var(--fundo_secundario);
    width: 100%;
    border-bottom: 1px solid var(--borda_cards);
}

.conteiner {
    padding: 20px;
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.logo img {
    display: block;
    width: 170px;
}

.menu {
    display: flex;
    gap: 35px;
    margin: auto;
}

.menu a {
    text-decoration: none;
    color: var(--texto_principal);
    font-size: 18px;
    padding-right: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.menu a:hover {
    color: var(--houver);
}

.botao a {
    margin-right: 20px;
    text-decoration: none;
    color: var(--texto_principal);
    border-radius: 8px;
    font-weight: bold;
    padding: 12px 22px;
    background-color: var(--cor_principal);
}

.botao a:hover {
    background-color: var(--fundo_secundario);
    padding: 11px 21px;
    border: 1px solid var(--cor_principal);
}

.botao {
    margin-top: 10px;
}

.hero {
    width: 100%;
    background-color: #01000F;
    padding-bottom: 20px;
}

.hero_texto {
    width: 50%;
    display: block;
}

.hero_img {
    width: 50%;
    display: block;
    margin-left: 10px;
}

.hero_img img {
    width: 100%;
    display: block;
}

.solucoes {
    width: 100%;
    background-color: var(--fundo_principal);
    padding: 0px;
}

.solucoes_texto {
    width: 100%;
    display: block;
    text-align: center;
}

.solucoes_texto h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.card {
    display: flex;
    width: 32%;
    background-color: var(--cards);
    border-radius: 8px;
    border: 1px solid var(--borda_cards);
    margin: auto;
    height: 200px;
    position: relative;
}

.card:hover {
    border: 1px solid var(--cor_principal);
    transition: 0.3s;
}

.card img {
    margin-left: 20px;
    margin-top: 40px;
    width: 20%;
    max-height: 60px;
    max-width: 60px;
}

.card_texto {
    margin: auto;
    margin-right: 30px;
    margin-left: 20px;
}

.card_texto h2 {
    margin-top: 10px;
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 0px;
}

.card_texto p {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-bottom: 20px;
    line-height: 1.5;
}

.card_texto h3 {
    margin: 20px 0 0 0;
    font-size: 20px;
}

.dados {
    width: 100%;
    background-color: var(--fundo_principal);
    margin-bottom: 20px;
    margin-top: 30px
}

.dados_conteiner {
    display: flex;
    max-width: 1200px;
    margin: auto;
    background-color: var(--cards);
    border-radius: 8px;
    border: 1px solid var(--borda_cards);
    width: 95%;
    padding: 10px 0px;
}

.dados_card {
    display: flex;
    margin: auto;
}

.dados_card img {
    margin-bottom: auto;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    max-height: 60px;
    max-width: 60px;
    
}

.dados_texto {
    display: block;
}

.dados_texto h2 {
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 0px;
}

.dados_texto p {
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 5px;
    line-height: 1.5;
}

.linha {
    width: 2px;
    background-color: var(--borda_cards);
    margin: 10px;

}

.sobre_nos {
    width: 100%;
    background-color: var(--fundo_principal);
}

.sobre_nos img {
    max-height: 355px;
}

.sobre_nos_txt  {
    margin: auto;
    margin-left: 20px;
}

.sobre_nos_txt h2 {
    font-size: 22px;
    line-height: 1.5;
    margin: 0px 0px 10px 0px;
}

.sobre_nos_txt h3 {
    font-size: 13px;;
    margin: 0px 0px 10px 0px;
}

.sobre_nos_txt p {
    line-height: 1.5;
    margin: 0px;
}

footer {
    width: 100%;
    background-color: var(--fundo_secundario);
    border-top: 1px solid var(--borda_cards);
}

footer p {
    margin: 0px;
}

.dados_texto_sobre {
    display: block;

}

.dados_texto_sobre h2 {
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 0px;
}

.dados_texto_sobre p {
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 5px;
    line-height: 1.5;
    width: 100%;
}

.nossa_jornada{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 100px;
}

.nossa_jornada h2,h3 {
    margin: 10px;
}

.ponto{
    width: 14px;
    height: 14px;

    background: var(--cor_principal);
    border-radius: 50%;

    position: absolute;

    top:-45px;
    left: 50%;

    transform: translateX(-50%);

    box-shadow: 0 0 15px var(--cor_principal);
}

.linha_timeline {
    position: absolute;

    top: -38px;

    left: 0;
    right: 0;

    height: 2px;

    background: var(--texto_secundario);
}

.timeline {
    position: relative;

    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px;
}